.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 23%;
  text-align: center;
  margin: 1%;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 0.8s;
}

.front {
  background-color: #28AADC;
}

.back {
  background-color: #00648C;
  transform: rotateY(-180deg);
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0);
}

body {
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  /*background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);*/
}
